<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <div class="box">
          <h2 class="title is-2 is-spaced has-text-centered mb-6">Guest List</h2>
    
          <div class="columns is-centered">
            <table class="table is-fullwidth is-hoverable">
              <tbody>
                <th class="has-text-centered">Name</th>
                <th class="has-text-centered">Status</th>
                <% @users.each do |user| %>
                <tr>
                  <td class="has-text-centered">
                    <%= user.name %>
                  </td>
                  <% if Event.find(params[:event_id]).creator == user %>
                    <td class="has-text-centered">
                      Creator
                    </td>
                  <% elsif Event.find(params[:event_id]).invitees.exists?(id: user.id) %>
                    <% enrollment = Enrollment.find_by(event_id: params[:event_id], invitee_id: user.id) %>
                    <td class="has-text-centered">
                      <%= button_to "Cancel Invitation", enrollment_path(id: enrollment.id, event_id: params[:event_id]), method: :delete, class: "button is-primary is-small is-fullwidth" %>
                    </td>
                  <% else %>
                    <td class="has-text-centered">
                      <%= button_to "Invite", enrollments_path(event_id: params[:event_id], invitee_id: user.id), class: "button is-primary is-small is-fullwidth" %>
                    </td>
                  <% end %>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>

          <br/>

          <%= link_to 'Back', :back, class: "button is-fullwidth" %>

        </div>
      </div>
    </div>
  </div>
</div>
