<div class="section">
  <div class="container">
	<div class="columns is-centered">
      <div class="column is-4">
        <h2 class="title is-2 is-spaced has-text-centered">Sign Up</h2>
        <%= render 'form', user: @user %>
      </div>
    </div>
  </div>
</div>
