/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";

.notification:not(:last-child) {
  margin-bottom: 0;
}
  
.top {
  min-height:40vh;
  overflow: auto;
}

.bottom {
  min-height:40vh;
  overflow: auto;
}

.footer {
  padding: 1rem 0.5rem 0.5rem;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
} 